[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aioredis = "*"
asgiref = "*"
astroid = "*"
async-timeout = "*"
attrs = "*"
autobahn = "*"
autopep8 = "*"
certifi = "*"
cffi = "*"
channels = "*"
channels-redis = "*"
chardet = "*"
colorama = "*"
constantly = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
daphne = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-environ = "*"
django-extra-fields = "*"
django-resized = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
drf-yasg = "*"
hiredis = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
inflection = "*"
isort = "*"
itypes = "*"
lazy-object-proxy = "*"
mccabe = "*"
msgpack = "*"
mysqlclient = "*"
psycopg2 = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pylint = "*"
pyopenssl = "*"
pyparsing = "*"
pytz = "*"
requests = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
six = "*"
sqlparse = "*"
txaio = "*"
typed-ast = "*"
uritemplate = "*"
urllib3 = "*"
wincertstore = "*"
wrapt = "*"
"zope.interface" = "*"
Automat = "*"
Django = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
PyHamcrest = "*"
PyJWT = "*"
service_identity = "*"
Twisted = "*"
whitenoise = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
