<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        p.header{
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }
        a.verify-btn{
            text-decoration: none;
            padding: 10px 100px;
            background: rgb(96 144 2);
            color: white;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
    <body>
        <p class = "header">メールの確認失敗!</p>
        <p>メールの確認が失敗しました。</p>
        <p>メールボックスを再度確認してください。</p>
        <br>
        <p>よろしくお願いいたします。</p>
    </body>
</html>